<% provide(:title, 'About') %>

    <h1>About Esctaic</h1>
    <p>
      <a href="http://www.esctaic.org/">Esctaic</a>
      is a society for those in computer  technology in anesthesia and intensive care.  
    </p>

